* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #3d5af1;
    --main-color-dark: #3651d4;
    --main-color-light: #5872f5;
    --text-color: #cfcde7;
}
.moje-dugme{
    position: absolute;
    bottom: 5px;
    right: 5px;
}


ul {
    list-style: none;
}
a,
button {
    color: inherit;
}
a {
    text-decoration: none;
}
label {
    cursor: pointer;
}

.slika_preview{
    display: block;
    margin: 0px auto;
    width: 80%;
    aspect-ratio: 1;
}
.other-table{
    width: 100%;
    max-height: max-content;
    position: relative;
}

.dropdown-checkboxes {
    display: inline-block;
}
.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}
td button{
    border: none;
    background-color: transparent;
}

.icon-wrap {
    background-color: #afbeca;
    padding: 7px 13px;
    width: max-content;
    margin: 0px auto;
    color: white;
    font-size: 25px;
}
thead tr th{
    cursor: pointer;
}
body {
    position: relative;
    display: flex;
    font-family: Public Sans,sans-serif,-apple-system,blinkmacsystemfont,Segoe UI,roboto,Helvetica Neue,arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol;
}
tbody td{
    text-align: center;
}
.table100.ver1 {
    border-radius: 10px;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -moz-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -o-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    -ms-box-shadow: 0 0 40px 0 rgba(0,0,0,.15);
    margin: 20px auto;
    overflow-x: scroll;
}

.table100.ver1::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.table100.ver1::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table tr{
    text-align: center;
}
.table100.ver1 th {
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-color: #31409c;
    padding: 19px;
}

.forma-admin-klik{
    padding: 5px 7px;
    background-color: rgb(219, 140, 35);
    color: #FFFFFF;
    border: 0px;
}


.column1 {
    width: 33%;
    padding-left: 40px;
}
.table100{
    position: relative;
}
.table100 tr td{
    padding: 10px;
}
.table100.ver1 td.img-cell {
    width: 150px;
    height: 150px;
}

.table100.ver1 td.img-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.table100.ver1 tr:nth-child(even){
    background-color:#f8f6ff;
}


.modal {
    display: none;
    position: fixed;
    z-index: 32;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    width: max-content;
    margin-left: auto;
}
.zamrzni{
    word-break: break-all;
}
.close:hover {
    color: black;
}
.mojStil{
    position: fixed;
    top: 20px;
    left: 44%;
    z-index: 10000;
}
.close-alert{
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 0;
    color: rgba(0,0,0,.5);

}
/*.pag{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*}*/

/*Navigacioni admin stil*/

.navigation-admin {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: #31409c;
    width: 16rem;
    padding: 1.8rem 0.85rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease-in-out;
}
.navigation-admin::before {
    content: "";
    position: absolute;
    width: 2rem;
    height: 100%;
    top: 0;
    left: 100%;
}
main {
    flex: 1;
    color: #1f2027;
    display: flex;
    flex-direction: column;
}
main h1 {
    margin-bottom: 1rem;
}
main .copyright {
    margin-top: auto;
    font-size: 0.9rem;
}
main .copyright span {
    color: var(--main-color);
    font-weight: 500;
    cursor: pointer;
}
.sidebar-top {
    position: relative;
    display: flex;
    align-items: center;
}
.sidebar-top .logo {
    width: 4.1rem;
    margin: 0 0.8rem;
}
.sidebar-top h3 {
    padding-left: 0.5rem;
    font-weight: 600;
    font-size: 1.15rem;
    margin-bottom: 0px;
}
.shrink-btn {
    position: absolute;
    top: 50%;
    height: 27px;
    padding: 0 0.3rem;
    background-color: var(--main-color);
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
    right: -2.65rem;
    transform: translateY(-50%) translateX(-8px);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}
.shrink-btn i {
    line-height: 27px;
    transition: 0.3s;
}
.shrink-btn:hover {
    background-color: var(--main-color-dark);
}
nav:hover .shrink-btn,
.shrink-btn.hovered {
    transform: translateY(-50%) translateX(0px);
    opacity: 1;
    pointer-events: all;
}
.search {
    min-height: 2.7rem;
    background-color: var(--main-color-light);
    margin: 2rem 0.5rem 1.7rem;
    display: grid;
    grid-template-columns: 2.7rem 1fr;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}
.search input {
    height: 100%;
    border: none;
    background: none;
    outline: none;
    color: #fff;
    caret-color: #fff;
    font-family: inherit;
}
.search input::placeholder {
    color: var(--text-color);
}
.sidebar-links ul {
    position: relative;
}
.sidebar-links li {
    position: relative;
    padding: 2.5px 0;
}
.sidebar-links a {
    color: var(--text-color);
    font-weight: 400;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    height: 53px;
}
.icon {
    font-size: 1.3rem;
    text-align: center;
    min-width: 3.7rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
.icon i {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    transition: 0.3s;
}
.icon i:last-child {
    opacity: 0;
    color: #fff;
}
.sidebar-links a.active,
.sidebar-links a:hover {
    color: #fff;
}
.sidebar-links a .link {
    transition: opacity 0.3s 0.2s, color 0.3s;
}
.sidebar-links a.active i:first-child {
    opacity: 0;
}
.sidebar-links a.active i:last-child {
    opacity: 1;
}
.active-tab {
    width: 100%;
    height: 53px;
    background-color: var(--main-color-dark);
    border-radius: 10px;
    position: absolute;
    top: 2.5px;
    left: 0;
    transition: top 0.3s;
}
.active-tab ~ .active{
    top: 0;
}

.sidebar-links h4 {
    position: relative;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 0.8rem;
    color: var(--text-color);
    letter-spacing: 0.5px;
    height: 45px;
    line-height: 45px;
    transition: opacity 0.3s 0.2s, height 0.5s 0s;
}
.sidebar-footer {
    position: relative;
    margin-top: auto;
}
.account {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: var(--text-color);
    height: 53px;
    width: 3.7rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s 0s, color 0.3s 0s;
}
.account:hover {
    color: #fff;
}
.admin-user {
    display: flex;
    align-items: center;
}
.admin-profile {
    white-space: nowrap;
    max-width: 100%;
    transition: opacity 0.3s 0.2s, max-width 0.7s 0s ease-in-out;
    display: flex;
    align-items: center;
    flex: 1;
    overflow: hidden;
}
.admin-user img {
    width: 2.9rem;
    border-radius: 50%;
    margin: 0 0.4rem;
}
.admin-info {
    padding-left: 0.3rem;
}
.admin-info h3 {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1;
}
.admin-info h5 {
    font-weight: 400;
    font-size: 0.75rem;
    color: var(--text-color);
    margin-top: 0.3rem;
    line-height: 1;
}
.log-out {
    display: flex;
    height: 40px;
    min-width: 2.4rem;
    background-color: var(--main-color-dark);
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    font-size: 1.15rem;
    border-radius: 10px;
    margin: 0 0.65rem;
    transition: color 0.3s;
}
.log-out:hover {
    color: #fff;
}
.tooltip {
    background-color: var(--main-color);
    position: absolute;
    right: -1.2rem;
    top: 0;
    transform: translateX(100%) translateY(-50%);
    padding: 0 0.8rem;
    font-size: 0.85rem;
    display: none;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    height: 30px;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    text-align: center;
    white-space: nowrap;
}
.tooltip span {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    opacity: 0;
    transition: 0.3s;
}
.tooltip span.show {
    opacity: 1;
}
.tooltip-element:hover ~ .tooltip {
    opacity: 1;
    pointer-events: all;
}
/* When the menu shrinks */
.hide {
    transition: opacity 0.3s 0.2s;
}
body.shrink nav {
    width: 5.4rem;
}
body.shrink .hide {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}
body.shrink .shrink-btn i {
    transform: rotate(-180deg);
}
body.shrink .sidebar-links h4 {
    height: 10px;
}
body.shrink .account {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.3s 0.3s, color 0.3s 0s;
}
body.shrink .admin-profile {
    max-width: 0;
    transition: opacity 0.3s 0s, max-width 0.7s 0s ease-in-out;
}
body.shrink .tooltip {
    display: grid;
}

 .block-za-sliku{
     width: 60%;
     display: flex;
     margin: 15px auto;
 }
.block-za-sliku #slika_preview{
    flex: 1 1 0;
    width: 0;
}
#slika_preview{
    max-width: 100%;
}
.moje-dugme12{
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px 15px;
    outline: none;
    border: 0px;
}
.ml-3{
    margin-left: 20px;
}
.status-aktivnosti-block{
    margin-right: auto;
    margin-left: 16px;
}
.status-aktivnosti-block select{
    background-color: #1F99CD;
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    border-radius: 2px;
    border: none;
    color: #ffffff;
    padding: 10px 30px 10px 10px;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: auto;
}
.group-item-admin{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.response-button{
    display: none;
}
.close-button{
    display: none;
}
/*Admin responsive*/

@media screen and (max-width: 1350px) {

    .sidebar-footer{
        margin-left: auto;
    }
    body{
        display: block;
    }
    .navigation-admin{
        position: static;
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .navigation-admin .sidebar-links{
        display: flex;
        align-items: center;
        margin-top: 0px !important;
    }
    .sidebar-links ul{
        position: relative;
        display: flex;
        gap: 61px;
        align-items: center;
        margin-bottom: 0px !important;
    }
    .sidebar-footer{
        display: flex;
    }
    .navigation-admin::before{
        position: static;
    }
}
@media screen and (max-width: 1000px) {
    .group-item-admin{
        transform: translateX(-1000%);
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 300ms;
    }
    .group-item-admin.show{
        transform: translateX(0%);
        visibility: visible;
        background-color: var(--main-color);
        z-index: 100;
        padding: 10px;
        min-height: 100vh;
    }
    .navigation-admin .sidebar-links{
        justify-content: center;
    }
    .sidebar-links ul{
        gap: 0px;
        flex-direction: column;
        padding: 0px;
    }
    .response-button,.close-button{
        display: block;
        cursor: pointer;
    }
    .navigation-admin{
        justify-content: space-around;
    }
    .navigation-admin::before{
        display: none;
    }
}
#modalContent{
    position: relative;
}
/*Spinner*/

.lds-spinner {
    display: none;
    color: red;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 45%;
    top: 45%;
    right: 45%;
    z-index: 100000;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #000000;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#graficki-prikaz-slika {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#graficki-prikaz-slika .slika-stavka {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#graficki-prikaz-slika img {
    width: 100px; /* Prilagodite veličinu slike prema potrebama */
    height: auto;
    margin-right: 10px;
}

#graficki-prikaz-slika .naziv-slike {
    font-size: 16px; /* Prilagodite veličinu fonta prema potrebama */
}
